<% provide(:title, "Products") %>
<h1>Products</h1>
<td width="10%">
  <table>

    <tr>
      <td colspan="2">Pants</td>
    </tr>
    <tr>
      <td colspan="2">Jeans</td>
    </tr>
    <tr>
      <td colspan="2">Accessories</td>
    </tr>
 </table>
</td>