<% provide :title, t(".homes") %>
<a><img id="img-Backgroud" src="https://staticpages.mngbcn.com/homes/images/home/assets/she/ss18/febrero/she_mm_lookbook1_fotoespecial-v2.jpg?imwidth=1861&imdensity=1"></a>
