body {
  margin: 0px;
}

.clear-both {
  clear: both;
}

header {
  width: auto;
  height: 60px;
  border-bottom: 2px solid black;
}

#logo {
  width: 170px;
  height: 60px;
  float: left;
}

#img-Logo {
  margin: 18px 12px;
}

#img-Backgroud {
  width: 100%;
  height: 900px;
}

#news {
  margin: 18px 12px 0px 300px;
  float: left;
  font-size: 20px;
}

#clothing {
  margin: 18px 12px 0px 30px;
  float: left;
  font-size: 20px;
}

#contact {
  margin: 18px 12px 0px 30px;
  float: left;
  font-size: 20px;
}

#login {
  float: right;
  margin: 18px 25px;
}

#navigation {
  float: right;
}

#info-Product {
  float: left;
}

.fieldset {
  float: left;
  width: 220px;
  margin: 0px 3px 5px 5px;
}

#ul-Products {
  margin: -10px 0px 10px -20px;
}

#ul-Category {
  float: left;
  list-style-type: none;
}

#li-Category:hover {
  background-color: pink;
}

#li-Category {
  padding: 10px 15px 10px;
  margin: 0px 12px 20px;
}

#list-Description {
  margin-bottom: -15px;
  margin-top: -5px;
  padding-left: 0px;
  text-align: center;
}

#a-Product {
  margin-top: -5px;
  margin-bottom: 5px;
}

#price-Product {
  color: red;
  font-size: 22px;
  margin-left: 30px;
}

#img-Image {
  margin: 0px 10px 0px -30px;
}

a {
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
}
