@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

$gray-medium-light: #eaeaea;

body {
  margin: 0px;
}

.clear-both {
  clear: both;
}

header{
  border-bottom: 2px solid black;
  height: 60px;
  width: auto;
}

#logo {
  float: left;
  height: 60px;
  width: 170px;
}

#img-logo {
  margin: 10px 12px;
}

#imglogo{
  margin: 18px 12px;
}

#img-backgroud {
  height: 900px;
  width: 100%;
}

#news {
  float: left;
  font-size: 20px;
  margin: 10px 12px 0px 300px;
}

#clothing {
  float: left;
  font-size: 20px;
  margin: 10px 12px 0px 30px;
}

#contact {
  float: left;
  font-size: 20px;
  margin: 10px 12px 0px 30px;
}

#login {
  float: right;
  margin: 6px 6px;
}

.fieldset {
  border: 1px solid;
  float: left;
  margin: 0px 3px 5px 5px;
  width: 220px;
}

#ul-products {
  margin: -10px 0px 10px -20px;
}

#list-description {
  margin-bottom: -15px;
  margin-top: -5px;
  padding-left: 0px;
  text-align: center;
}

.name-product {
  list-style-type: none;
  margin-bottom: 5px;
  margin-top: -5px;
}

#price-product {
  color: red;
  font-size: 22px;
  margin-top: 15px;
  padding-left: 0px;
  text-align: center;
}

#product-name {
  margin-top: 6px;
}

#img-image {
  height: 200px;
  margin: 0px 0px 0px -40px;
  width: 200px;
}

.info-product img {
  height: 200px;
  width: 200px;
}

.text-center .row .img-link img {
  height: 200px;
  width: 200px;
}

a {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none !important;
}

#Accessories {
  float: left;
  font-size: 20px;
  margin: 18px 12px 0px 30px;
}

#Login {
  float: right;
  margin: 18px 25px;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  @include box_sizing;
  clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    margin-top: 20px;
    padding: 10px 0;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      line-height: 1;
      margin-bottom: 3px;
    }
    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
      text-align: left;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

input, textarea, select, .uneditable-input {
  @include box_sizing;
  border: 1px solid #bbb;
  margin-bottom: 15px;
  width: 100%;
}

input {
  height: auto !important;
}

.checkbox {
  margin-bottom: 10px;
  margin-top: -10px;
  span {
    font-weight: normal;
    margin-left: 20px;
  }
}

#session_remember_me {
  margin-left: 0;
  width: auto;
}

#sign-up {
  text-align: center;
}

#log-in {
  text-align: center;
}

.category {
  width: 17%;
}

.product {
  width: 83%;
}

.price-info-product {
  color: red;
  font-size: 30px;
  font-weight: 600;
  text-align: left;
}

.view-info-product {
  text-align: left;
}

#path-product {
  margin: 14px 0px 20px;
}

#icon-shopping-cart {
  float: right;
  margin-top: 3px;
}

#button-buy-now {
  background-color: greenyellow;
  color: yellow;
  font-size: 20px;
  height: 70px;
  width: 80%;
}

#button-buy-now:hover {
  background-color: aquamarine;
}

#title-shopping-cart {
  font-size: 50px;
  text-align: center;
}

.fieldset-shopping-cart {
  border: 1px solid black;
  margin: 10px;
}

#name-product-shopping-cart {
  font-size: 20px;
  margin-top: 90px;
}

#price-product-shopping-cart {
  font-size: 20px;
  margin-top: 90px;
}

#quantity-product-shopping-cart {
  margin-top: 90px;
}

#info-products-shopping-cart {
  margin: 50px 0px 0px 0px;
  text-align: center;
}

.fa-shopping-cart {
  color: red;
}

#total-price-all {
  text-align: center;
  font-size: 35px;
  color: red;
}

#info-product-in-cart {
  margin-top: 15px;
  width: 300px;
}

.btn-update {
  width: 150px;
}

.btn-group {
  margin-bottom: 20px;
}
